.process {
    position: relative;
    color: #030812;
}

.process-steps-column {
    padding: 20px 0 0;
}

.js-process-slider {
    padding-bottom: 20px;
}

.process .slick-initialized .slick-slide {
    margin: 30px;
}

.steps-column {
    text-align: center;
    background: #fff;
    padding: 40px;
    box-shadow: 0 3px 25px rgba(37,45,60,0.1);
    border-radius: 6px;
}

.steps-no {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    font-size: 26px;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 1.9em;
    box-shadow: 0 3px 20px rgba(6,79,114,0.2);
    margin-bottom: 25px;
}

.steps-column h4 {
    font-size: 16px;
    color: #030812;
    line-height: 1.56em;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0 0 14px;
}

.steps-column p {
    font-size: 14px;
}

.process-pattern {
    position: absolute;
    bottom: 350px;
    left: 0;
    transform: rotate(30deg);
}

@media (min-width: 768px) {
    .process .slick-initialized .slick-slide {
        margin: 30px 0;
    }

    .slick-center {
        transform: scale(1);
    }

    .steps-column {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 18px;
        flex-wrap: wrap;
        flex-direction: column;
        box-shadow: 0 0 5px rgba(37,45,60,0.1);
        opacity: 0.5;
        z-index: -1;
        position: relative;
    }

    .process .slick-initialized .slick-slide {
        margin: 30px 10px;
    }

    .process-item {
        width: 200px;
    }

    .process .slick-current .process-item {
        padding: 20px 0;
        transform: scale(1.4, 1.15);
    }

    .steps-column p {
        font-size: 12px;
    }

    .process-steps-column {
        padding: 50px 30px 20px;
        position: relative;
        z-index: 9;
    }

    .process .slick-current .process-item .steps-no {
        transform: scale(0.72,0.9);
        margin: 0 0 10px;
    }

    .process .slick-current .steps-column {
        padding: 0 0;
        opacity: 1;
        position: relative;
        z-index: 9;
    }

    .process-item h4 {
        font-size: 13px;
    }

    .process .slick-current .process-item h4 {
        font-size: 16px;
        transform: scale(0.7,0.85);
        padding-top: 0;
        padding-bottom: 0;
    }

    .process-item p {
        font-size: 12px;
    }

    .process .slick-current .process-item p {
        font-size: 14px;
        transform: scale(0.7,0.85);
    }

    .process .slick-prev, 
    .process .slick-next {
        bottom: 50%;
    }

    .process .slick-prev {
        left: -37px;
        margin-left: 0;
    }

    .process .slick-next {
        right: -37px;
        margin-right: 0px;
    }

    .read-more p:last-child {
        padding-bottom: 35px;
    }

    .process-pattern {
        bottom: 254px;
    }

}

@media (min-width: 1200px) {
    .process .fx-slider .fx-slide {
        display: block;
    }

    .steps-column {
        height: auto;
        padding: 40px;
        box-shadow: 0 3px 15px rgba(37,45,60,0.1);
        opacity: 1;
        z-index: 9;
        min-height: 340px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .process-steps-column {
        padding: 0 0;
    }

    .js-process-slider {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: center;
    }
      
    .process-item {
        box-sizing: border-box;
        flex: 0 0 auto;
        flex-basis: auto;
        padding-right: 0;
        padding-left: 0;
        margin: 20px 15px;
        width: calc(50% - 30px);
    }

    .steps-column h4 {
        font-size: 16px;
        padding: 0 0 14px;
    }

    .process-item p {
        font-size: 14px;
    }

    .process-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .process-content-column {
        width: 50%;
    }

    .process-steps-column {
        width: 50%;
        padding-right: 60px;
    }

    .process .fx-slider .fx-slide:nth-child(2){
        margin-top: 80px;
    }

    .process .fx-slider .fx-slide:nth-child(3) {
        margin-top: -40px;
    }

    .process-pattern {
        bottom: inherit;
        top: 0;
        transform: rotate(0deg);
    }

}

@media (min-width: 1300px) {
    .process-steps-column {
        padding-right: 80px;
    }


}














































