.product {
    position: relative;
}

.product-listings {
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

.product-item {
    padding-bottom: 40px;
    text-align: center;
}

.product-listings h4 {
    font-size: 16px;
    color: #030812;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.product-column {
    margin-top: 20px;
}

.product-image {
    margin-bottom: 10px;
}

.product-image img {
    margin: 0 auto;
    max-width: 100%;
}

.product-info {
    color: #030812;
    text-align: center;
}

.product-btns {
    margin-top: 10px;
}

.product-patern {
    position: absolute;
    left: 0;
    bottom: 54%;
}

@media (min-width: 768px) {
    .product .slick-prev,
    .product .slick-next {
        bottom: 50%;
        margin-bottom: -18px;
    } 
    
    .product .slick-next {
        right: 0;
        margin-right: 0px;
    }
    
    .product .slick-prev {
        left: 0;
        margin-left: 0px;
    }
    
    .product-item {
        padding-bottom: 0;
    }

    .js-product-slider-nav .slick-list {
        margin: 0 36px;
    }

    .product-listings h4 {
        padding: 0;
    }

    .js-product-slider-nav {
        max-width: 600px;
        margin: 0 auto;
    }

    .product-column {
        margin-top: 60px;
        display: flex;
    }

    .product-image {
        width: 45%;
    }

    .product-info {
        width: 55%;
        padding-left: 18px;
        text-align: left;
    }

    .product-patern {
        bottom: 0;
    }

}

@media (min-width: 1200px) {
    .js-product-slider-nav {
        max-width: 100%;
        border-bottom: 1px solid rgba(3, 8, 18, 0.11);;
    }

    .js-product-slider-nav .slick-list {
        margin: 0 0;
    }

    .product .slick-initialized .slick-slide {
        margin: 0 20px;
    }

    .product-listings h4 {
        line-height: 1.4em;
    }

    .product-listings {
        margin-top: 50px;
    }

    .product-listings h4 {
        color: rgba(3, 8, 18, 0.51);
        padding-bottom: 20px;
        border-bottom: 6px solid;
        border-image-slice: 6;
        border-image-source: linear-gradient(to left, transparent, transparent);
    }

    .product .slick-slide.slick-current.slick-active h4 {
        color: rgba(3, 8, 18, 1);
        border-bottom: 6px solid;
        border-image-slice: 6;
        border-image-source: linear-gradient(to left, #0670A4, #06A49E );
    }

    .product-column {
        margin-top: 80px;
    }

    .product-image {
        width: 48%;
    }

    .product-info {
        width: 52%;
        padding-left: 70px;
    }

    .product-btns {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .product-btns .btn + .btn {
        margin-top: 0;
        margin-right: 25px;
        margin-left: 0;
    }

}

@media (min-width: 1366px) {
    .product-image {
        margin-left: -65px;
    }

    .product-info {
        width: 58%;
        padding-left: 90px;
    }

    .product-btns .btn + .btn {
        margin-right: 35px;
    }
}