.quick-info {
    position: relative;
    margin-top: -50px;
}

.quick-info-wrapper {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -14px;
    margin-left: -14px;
    justify-content: center;
}
  
.quick-info-column {
    box-sizing: border-box;
    flex: 0 0 auto;
    flex-basis: auto;
    margin: 10px 14px;
    width: calc(100% - 28px);
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 29px 44px;
    box-shadow: 0 3px 20px rgba(3,8,18,0.1);
}

.quick-info-value {
    font-size: 43px;
    color: #0670A4;
    font-weight: 700;
    position: relative;
    padding-bottom: 8px;
}

.quick-info-value::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 2px;
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
}

.quick-info-text h4 {
    font-size: 15px;
    color: #030812;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    position: relative;
    padding: 10px 0 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .quick-info-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }

    .quick-info-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .quick-info-value {
        width: 115px;
        padding-right: 14px;
        text-align: right;
    }

    .quick-info-value::before {
        display: none;
    }

    .quick-info-text {
        width: 240px;
        padding-left: 16px;
        border-left: 2px solid;
        border-image-slice: 3;
        border-image-source: linear-gradient(to left, #06A49E, #0670A4);
    }

    .quick-info-value {
        font-size: 48px;
        padding-bottom: 0;
        line-height: 1.1em;
    }

    .quick-info-text h4 {
        font-size: 16px;
        padding: 0;
    }

    .quick-info {
        margin-top: -65px;
    }

}

@media (min-width: 1200px) {
    .quick-info-column {
        width: calc(33.33% - 28px);
        padding: 30px 30px;
    }

    .quick-info-wrapper {
        max-width: inherit;
        margin-right: -14px;
        margin-left: -14px;
    }

    .quick-info-value {
        width: auto;
    }

    .quick-info-text {
        width: auto;
        padding-left: 16px;
    }

    .quick-info-text h4 {
        line-height: 1.6em;
    }

}
