.brand-wrapper {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 3px 25px rgba(37, 45, 60, .1);
    padding: 40px;
    border-radius: 6px;
    text-align: center;
}

.brand-wrapper h5 {
    font-size: 15px;
    color: #657883;
    line-height: 1.56em;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.brand-item a {
    display: block;
}

.brand-item a img {
    display: block;
    margin: 0 auto;
}

.js-brand-slider {
    padding-bottom: 40px;
}

.brand {
    position: relative;
    z-index: 9;
    background-color: #F4F9FC;
}

.brand-wrapper {
    margin-bottom: -50px;
}

@media (min-width: 768px) {
    .brand-wrapper {
        padding: 40px 30px;
        max-width: 600px;
        margin: 0 auto -75px;
    }

    .brand .slick-prev,
    .brand .slick-next {
        bottom: 50%;
        margin-bottom: -18px;
    }

    .brand .slick-prev {
        left: 0px;
        margin-left: 0;
    }

    .brand .slick-next {
        right: 0px;
        margin-right: 0px;
    }

    .brand .slick-list {
        margin: 0 30px;
    }

    .js-brand-slider {
        padding-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .brand .fx-slider .fx-slide {
        display: block;
    }

    .brand-item a {
        max-width: 200px;
        padding: 0 20px;
    }

    .brand-wrapper {
        padding: 30px 120px;
        max-width: 100%;
        margin: 0 0 -75px;
    }

    .js-brand-slider {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
