.cta {
    position: relative;
    background: #021939;
}

.cta-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cta-bg img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    color: #fff;
}

.cta-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
    text-align: center;
    background: linear-gradient(135deg,  rgba(6,164,158,0.57) 0%,rgba(6,112,164,0.57) 100%); 
    padding: 90px 0;
}

.cta-wrapper h5,
.cta-wrapper h2 {
    color: #fff;
}

.cta-wrapper h2 {
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .cta-wrapper {
        padding: 100px 0;
    }
}
@media (min-width: 1200px) {
    .cta-wrapper {
        padding: 116px 0;
    }

    .cta-wrapper h2 {
        padding-bottom: 35px;
    }

    .half-and-half-text__wrapper .btn {
        margin-top: 20px;
    }
}












