

.industry-section {
    background-color: #F4F9FC;
}

.industry-slide {
    padding-top: 40px;
}

.box-image {
    height: 155px;
}

.box-image img {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
        object-fit: cover;
    box-shadow: 0 0 30px rgba(37,45,60,0.16);
}

.box-image-text {
    background: rgb(6,164,158); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: -40px 20px 0 20px;
    padding: 28px 34px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 30px rgba(4,51,74,0.36);
}

.box-image-text h5 {
    color: #fff;
    padding: 0;
    font-size: 16px;
}

.industry-button__hidden {
    display: none;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.industry-slider-wrapper .fx-slide {
    display: block;
}

@media (min-width: 768px) {

    .box-image {
        height: 206px;
    }

    .industry-slider {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .industry-slide {
        box-sizing: border-box;
        flex: 0 0 auto;
          flex-basis: auto;
        flex-basis: auto;
        padding-right: 0;
        padding-left: 0;
        margin: 40px 16px 0 16px;
        width: calc(50% - 32px);
      }

      .industry-slider-wrapper {
          padding: 0 53px;
      }
}

@media (min-width: 1200px) {
    .industry-slider {
        width: 6060px;
        margin: 0 -15px;
        position: relative;
    }

    .industry-slider::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-color: #F4F9FC;
        height: 100%;
        width: calc(100% - 1406px);
        opacity: 0.6;
    }

    .industry-slide {
        padding: 0 14px ;
    }

    .industry-slider-wrapper {
        width: 100%;
        position: relative;
        padding: 0;
    }

    .image-box-wrapper {
        width: 436px;
        height: 500px;
    }

    .box-image {
        position: absolute;
        height: auto;
        top: 0;
        width: 100%;
    }

    .box-image img {
        box-shadow: none;
        height: 424px;
    }

    .industry-slide {
        margin: 0;
      }

    .industry-slider-wrapper {
        padding: 30px 0 0 0;
    }

    .box-image-text {
       background: none;
        margin: 0 25px;
        padding: 0 30px;
        box-shadow: none;
        position: absolute;
        bottom: 6px;
        width: 100%;
        background-color: transparent;
        height: 70px;
        width: calc(100% - 50px);
        left: 0;
        transition: all 0.1s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-image-text::before {
        background: rgb(6,164,158); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        content:'';
        position: absolute;
        bottom: 0;
        width: 6px;
        left: 0;
        height: 204px;

    }

    .box-image-text h5 {
        color: #030812;
    }

    .image-box-wrapper {
        position: relative;
    }


    .image-box-wrapper:hover .box-image-text {
        height: 204px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        box-shadow: 0 8px 30px rgba(4,51,74,0.36);
        background: rgb(6,164,158); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }


    .image-box-wrapper:hover .industry-button__hidden {
       display: block;
       opacity: 1;
       transition: all 0.5s ease-in-out;
    }

    .box-image-text p {
        padding: 5px 0 0 0;
        color: #fff;
        line-height: 1.875em;
    }

    .image-box-wrapper:hover .box-image-text h5 {
        color: #fff;
    }


    .image-box-wrapper:hover .box-image-text::before {
        display: none;
    }

    .industry-slide {
        padding-bottom: 46px;
    }

    .industry-bttn .btn {
        float: left;
    }

    .industry-slider-arrow {
        float: right;
    }

    .industry-slider-arrow .right_button,
    .industry-slider-arrow .left_button {
        float: left;
        box-shadow: 0 0 15px rgba(4,51,74,0.36);
        background: rgb(6,164,158); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 18px;
        cursor: pointer;
    }

    .industry-slider-arrow .right_button:hover,
    .industry-slider-arrow .left_button:hover {
        background: rgb(6,164,158); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .industry-hide::after {
        opacity: 1 !important;
    }

}
