.masthead-content {
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 9;
    position: relative;
    padding:  120px 0 200px;
    text-align: center;
}

.masthead-content h1 {
    color: #FFFFFF;
    font-size: 35px;
    padding-bottom: 27px;
}

.forword-icon {
    margin-top: 80px;
}

@media (min-width: 768px) {
    .masthead-content {
        padding:  110px 0 185px;
        text-align: left;
    }

    .masthead-text {
        max-width: 465px;
        padding-left: 62px;
    }

    .masthead-content h1 {
        font-size: 42px;
    }

    .masthead-img img {
        object-position: bottom;
    }
}

@media (min-width: 1200px) {

    .masthead-content h1 {
        font-size: 58px;
        padding-bottom: 48px;
        padding-top: 7px;
    }

    .masthead-text {
        max-width: 830px;
        padding-left: 0;
    }

    .masthead-content {
        padding:  230px 0 160px;
    }

}

