.testimonials {
    position: relative;
    background: #1C2538;
    padding: 0 0 80px;
    color: #fff;
}

.testimonials-image {
    width: calc(100% + 44px);
    margin-left: -22px;
    position: relative;
    height: 320px;
}

.testimonials-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.testimonials-image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%); 
}

.testimonials-info {
    padding-top: 50px;
}

.testimonials-info {
    padding-top: 50px;
}

.testimonials-logo {
    margin-bottom: 30px;
}

.testimonials-info p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.9em;
    padding-bottom: 35px;
}

.testimonials-info h4 {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0 0 5px;
    line-height: 1.64em;
}

.testimonials-info h4 span {
    font-size: 16px;
    color: #1C8EC6;
}

@media (min-width: 768px) {
    .testimonials {
        padding: 0 0;
    }

    .testimonials-column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 80px 30px;
        position: relative;
    }

    .testimonials-column::before {
        content: "";
        position: absolute;
        left: 30px;
        top: 0;
        width: 6px;
        height: 100%;
        background: linear-gradient(135deg, rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
        z-index: 9;
    }

    .testimonials-image {
        width: 280px;
        height: 424px;
        margin-left: 0px;
    }

    .testimonials-info {
        width: calc(100% - 280px);
        padding-left: 53px;
        padding-top: 0;
    }

    .testimonials-image::before {
        display: none;
    }

}


@media (min-width: 1200px) {
    .testimonials-column {
        padding: 115px 0;
    }

    .testimonials-column::before {
        left: 0;
    }

    .testimonials-image {
        width: 320px;
    }

    .testimonials-info {
        width: calc(100% - 320px);
        padding-left: 140px;
    }

    .testimonials-info p {
        font-size: 22px;
        padding-bottom: 35px;
    }

    .testimonials-info h4 {
        font-size: 18px;
    }

}

@media (min-width: 1200px) {
    .testimonials-column {
        padding: 115px 0;
    }

    .testimonials-column::before {
        left: 0;
    }

    .testimonials-image {
        width: 320px;
    }

    .testimonials-info {
        width: calc(100% - 320px);
        padding-left: 140px;
    }

    .testimonials-info p {
        font-size: 22px;
        padding-bottom: 35px;
    }

    .testimonials-info h4 {
        font-size: 18px;
    }

}


/* testimonials-inner */

.testimonials-inner {
    text-align: center;
    padding: 80px 0;
    color: #FFFFFF;
}

.testimonials-inner h2 {
    color: #fff;
}

.testimonials-inner .testimonials-logo img {
    display: block;
    margin: 0 auto;
}

.js-testimonials-slider {
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .testimonials-inner .testimonials-column {
        display: block;
        padding: 20px 50px;
        position: relative;
    }

    .testimonials-inner .testimonials-info {
        width: 100%;
        padding-left: 0;
        padding-top: 0;
    }

    .testimonials-inner .testimonials-column::before {
        display: none;
    }

    .testimonials-inner .slick-prev, 
    .testimonials-inner .slick-next {
        bottom: 50%;
        margin-bottom: 18px;
    }

    .testimonials-inner .slick-prev {
        left: -50px;
        margin-left: 0;
    }

    .testimonials-inner .slick-next {
        right: -50px;
        margin-right: 0px;
    }

    .js-testimonials-slider {
        padding-bottom: 0;
    }

}

@media (min-width: 1200px) {
    .testimonials-inner .testimonials-info {
        width: 1095px;
        margin: 0 auto;
    }

    .testimonials-inner .slick-prev {
        left: 0px;
        margin-left: 0;
    }

    .testimonials-inner .slick-next {
        right: 0px;
        margin-right: 0px;
    }

    .testimonials-inner {
        padding: 110px 0;
    }
}












