/**
 * Add styling for 404 page here
 */
.imgbtns-404 h3 {
    padding-top: 0;
    padding-bottom: 25px;
}

.imgbtns-404 .imgbtns__link {
    display: block;
    margin-bottom: 20px;
}

.imgbtns-404 .imgbtns__link h5 {
    margin-top: 15px;
    padding-bottom: 0;
    text-align: center;
}

.imgbtns-404 .imgbtns__link img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media (min-width: 1025px) {
    .imgbtns-404 .imgbtns__link:hover h5 {
        color: #030812;
    }
}

.links-404 {
    margin-top: 25px;
}

.search-404 .search-div {
    position: static;
    display: block;
}

.search-404 .search-div .container {
    background-color: #fff;
    padding: 0;
}

.search-404 .search-content {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 1025px) {
    .search-404 .search-content {
        max-width: 80%;
    }
}

.contact-404 {
    margin-top: 45px;
}

@media (min-width: 1025px) {
    .contact-404 {
        margin-top: 0;
        text-align: center;
    }
}
