/*------------------------------------*\

    Page Footer CSS

    Page footer...........The main page footer.

\*------------------------------------*/

.page-footer {
    position: relative;
    background: #0B142B;
    overflow: hidden;
    border-top: 8px solid;
    border-image-slice: 8;
    border-image-source: linear-gradient(to left, #0670A4, #06A49E);
}

.page-footer .container {
    padding: 0;
}

.footer-left-column {
    padding: 50px 22px;
    background: #030812;
    text-align: center;
    position: relative;
}

.footer-left-column::before {
    content: "";
    position: absolute;
    left: -3000px;
    bottom: 0;
    width: 3050px;
    height: 100%;
    background: #030812;
    display: none;
}

.footer-logo {
    max-width: 190px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 25px;
}

.footer-logo img {
    display: block;
}

.footer-logo::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 96px;
    height: 4px;
    border-radius: 100px;
    transform: translate(-50% , 0);
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
}

.page-footer ul {
    padding: 0;
    margin: 0;
}

.page-footer li {
    padding: 0 0;
    margin: 0;
}

.page-footer li::before {
    display: none;
}

.page-footer li a {
    color: inherit;
}

.footer-secondary-menu {
    padding-top: 25px;
    position: relative;
    z-index: 9;
}

.footer-secondary-menu ul li {
    padding: 0 10px 0 14px;
    border-left: 1px solid rgba(255,255,255,.3);
    display: inline-block;
    line-height: 1em;
    margin-bottom: 8px;
}

.footer-secondary-menu ul li:first-child,
.footer-secondary-menu ul li:last-child {
    border-left: none;
}

.footer-secondary-menu ul li a,
.copyright {
    color: rgba(255,255,255,.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    font-family: 'Lexend', sans-serif;
}

.footer-right-column {
    padding: 50px 22px 70px;
}

.footer-col {
    padding-bottom: 20px;
}

.footer-contact-col {
    max-width: 255px;
    margin: 0 auto;
}

.footer-col h3 {
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Lexend', sans-serif;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 0.2em;
}

.footer-col p {
    color: #7B8C96;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    padding-bottom: 15px;
    padding-left: 30px;
    line-height: 1.5em;
    position: relative;
}

.footer-col p a {
    color: #7B8C96;
    font-weight: 400;
}

.footer-col p i {
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 18px;
    background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
}

.quick-links-col ul {
    column-count: 2;
}

.footer-col ul li {
    padding-bottom: 15px;
}

.footer-col ul li a {
    color: #7B8C96;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    position: relative;
}

.footer-social-media-col ul,
.back-top {
    text-align: center;
}

.footer-social-media-col ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.footer-social-media-col ul li a {
    font-size: 33px;
    font-weight: normal;
    position: relative;
    color: #0670A4;
}

.back-top {
    margin-top: 25px;
}


@media (min-width: 600px) {
    .quick-links-col {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-right-column,
    .footer-left-column {
        padding: 80px 22px 60px;
    }

    .footer-left-column {
        width: 274px;
    }

    .footer-right-column {
        width: calc(100% - 274px);
    }

    .footer-logo {
        max-width: 158px;
    }

    .footer-col {
        max-width: 100%;
        margin: 0 0;
    }

    .footer-col p {
        display: inline-block;
    }

    .footer-contact-col p {
        margin-right: 25px;
    }

    .footer-social-media-col {
        display: flex;
        align-items: center;
    }

    .back-top {
        margin-top: 0;
        margin-left: 15px;
    }

    .footer-social-media-col ul li {
        padding: 0 6px;
        line-height: 1em;
    }

    .footer-col h3 {
        text-align: left;
    }

}
@media (min-width: 1200px) {
    .fpage-footer a:hover,
    .footer-col ul li a:hover,
    .footer-secondary-menu ul li a:hover,
    .footer-col p a:hover {
        color: #fff;
    }

    .footer-col p {
        display: block;
    }

    .footer-col h3 {
        padding-top: 0;
    }

    .footer-right-column {
        display: flex;
    }

    .footer-contact-col {
        width: 300px;
    }

    .quick-links-col {
        width: 350px;
    }

    .footer-social-media-col {
        display: block;
        width: calc(100% - 650px);
    }

    .back-top {
        margin-top: 50px;
        margin-left: 0;
    }

    .footer-social-media-col ul,
    .back-top {
        text-align: left;
    }

    .footer-social-media-col ul li {
        padding: 0 22px 0 0;
    }

    .footer-social-media-col ul li:last-child {
        padding-right: 0;
    }

    .footer-social-media-col ul li a {
        font-size: 35px;
    }

}

@media (min-width: 1360px) {
    .page-footer .container {
        padding: 0 16px;
    }

    .footer-right-column, .footer-left-column {
        padding: 80px 16px 60px;
    }

    .footer-left-column {
        width: 394px;
        padding-left: 0;
    }

    .footer-right-column {
        width: calc(100% - 394px);
        padding-left: 66px;
        padding-right: 0;
    }

    .back-top .btn {
        padding: 16px 56px 16px 31px;
    }

    .footer-col ul li {
        padding-bottom: 9px;
    }

    .footer-col p {
        padding-bottom: 13px;
    }

    .footer-left-column::before {
        display: block;
    }

    .footer-logo {
        max-width: 190px;
    }

}
