/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythm setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/


/**
 * Document
 */

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #030812;
    -webkit-font-smoothing: antialiased;
}



/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.alignnone,
 .wp-caption.aligncenter {
     margin: 0;
     width: auto !important;
 }

 img.alignright,
 .wp-caption.alignright img,
 img.alignleft,
 .wp-caption.alignleft img,
 img.aligncenter img {
     height: auto;
     max-width: 100%;
     width: 100%;
     display: block;
     border-radius: 0;
     box-shadow: 0 10px 30px rgba(37,45,60,0.16);
 }

 img.alignnone,
 .wp-caption.alignnone img,
 img.aligncenter,
 .wp-caption.aligncenter img {
     height: auto;
     max-width: 100%;
 }

 img.alignnone,
 .wp-caption.alignnone,
 img.aligncenter,
 .wp-caption.aligncenter {
    margin: 0 0 22px 0;
  }

 img.alignright,
 .wp-caption.alignright {
     float: none;
     margin: 20px 0;
 }

 img.alignleft,
 .wp-caption.alignleft {
     float: left;
     margin: 0 30px 22px 0;
 }

 img.aligncenter,
 .wp-caption.aligncenter img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 iframe,
 img {
     max-width: 100%;
 }

 /* Fade-in for lazyloaded images */
 .will-lazyload {
     opacity: 0;
     transition: opacity .25 linear;
 }

 .will-lazyload.lazyloaded {
     opacity: 1;
 }

 @media (min-width: 768px) {
    img.alignright,
    .wp-caption.alignright {
        float: right;
        margin: 12px 0 10px 25px;
        height: auto;
        max-width: 37%;
    }

    img.alignleft,
    .wp-caption.alignleft {
        float: left;
        margin: 3px 22px 10px 0;
        height: auto;
        max-width: 36%;
    }
 }

 @media (min-width: 1200px) {
    img.alignleft,
    .wp-caption.alignleft {
        margin: 5px 22px 10px 0;
    }
 }


/**
  * Typography
  */

/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
      margin:0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: #030812;
}

h1,
.h1 {
    font-size: 36px;
    line-height: 1.27em;
}

h2,
.h2 {
    font-size: 32px;
    line-height: 1.4em;
    padding-bottom: 14px;
}

h3,
.h3 {
    font-size: 26px;
    line-height: 1.27em;
    padding-bottom: 15px;
}

h4,
.h4 {
    font-size: 24px;
    line-height: 1.27em;
    padding-bottom: 15px;
}

h5,
.h5,
.subheading {
    margin:0;
    padding: 0 0 10px;
    font-size: 15px;
    line-height: 1.56em;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    color: #1C8EC6;
    letter-spacing: 0.2em;
}

p {
    margin:0;
    padding: 0 0 22px;
    font-size: 16px;
    line-height: 1.87em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

p:last-child {
    padding-bottom: 0;
}

blockquote {
    margin: 10px 0 30px;
    padding: 30px 36px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #030812;
    position: relative;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0px 15px rgba(37, 45, 60, .10);
}

blockquote span {
    font-weight: 700;
}

blockquote::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    width: 8px;
    height: 100%;
    background: rgb(6,164,158);
    background: -webkit-linear-gradient(top,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(to bottom,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    border-radius: 12px 0 0 12px;
}

@media (min-width: 768px) {
    h1,
    .h1 {
        font-size: 42px;
    }

    h2,
    .h2 {
        font-size: 36px;
    }

    h3,
    .h3 {
        font-size: 30px;
    }

    h4,
    .h4 {
        font-size: 26px;
    }

    h5,
    .h5,
    .subheading {
        font-size: 16px;
    }

    blockquote {
        padding: 50px 80px;
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 58px;
    }

    h2,
    .h2 {
        font-size: 48px;
        padding-bottom: 18px;
    }

    h3,
    .h3 {
        font-size: 36px;
        padding-top: 25px;
    }

    h4,
    .h4 {
        font-size: 28px;
        padding-top: 25px;
    }

    h5,
    .h5,
    .subheading {
        font-size: 18px;
    }

    blockquote {
        padding: 50px 80px;
        font-size: 20px;
    }
}


.page-content ul,
.page-content ol {
   width: auto;
   overflow: hidden;
}

ul,
ol {
    padding: 0 0 20px 15px;
    margin: 0;
    list-style: none;
}

ul li {
	position: relative;
    padding: 0 0 0 26px;
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 1.87em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    background: #0670A4;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(19, 107, 150, .30);
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #030812;
}

    @media (min-width: 768px) {
        ul,
        ol {
            padding: 0 0 20px 20px;
        }
    }

    @media (min-width: 1200px) {
        a:hover {
            color:#06A49E;
        }
    }

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/**
  * Wrappers
  */

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
}

.container {
	max-width: 1396px;
}

    @media (min-width: 1200px) {
        .container,
        .container-fluid {
            padding-left: 16px;
            padding-right: 16px;
        }
    }



/**
 * Utility Margin/Padding Classes
 *
 */

/* Used on outer-most section container so section margins collapse */
.section-margins {
    margin-top: var(--section-margins);
    margin-bottom: var(--section-margins);
}

/* Used only for sections with colored backgrounds */
.section-padding {
    padding-top: var(--section-margins);
    padding-bottom: var(--section-margins);
}




/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */

  .row {
    margin-left: -16px;
    margin-right: -16px;
}

    [class*="col-"] {
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px;
    }

/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] { float:left; }

.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9  { width: 75%; }
.col-xxs-8  { width: 66.66666667%; }
.col-xxs-7  { width: 58.33333333%; }
.col-xxs-6  { width: 50%; }
.col-xxs-5  { width: 41.66666667%; }
.col-xxs-4  { width: 33.33333333%; }
.col-xxs-3  { width: 25%; }
.col-xxs-2  { width: 16.66666667%; }
.col-xxs-1  { width: 8.33333333%; }

.col-xxs-pull-12 { right: 100%; }
.col-xxs-pull-11 { right: 91.66666667%; }
.col-xxs-pull-10 { right: 83.33333333%; }
.col-xxs-pull-9  { right: 75%; }
.col-xxs-pull-8  { right: 66.66666667%; }
.col-xxs-pull-7  { right: 58.33333333%; }
.col-xxs-pull-6  { right: 50%; }
.col-xxs-pull-5  { right: 41.66666667%; }
.col-xxs-pull-4  { right: 33.33333333%; }
.col-xxs-pull-3  { right: 25%; }
.col-xxs-pull-2  { right: 16.66666667%; }
.col-xxs-pull-1  { right: 8.33333333%; }
.col-xxs-pull-0  { right: auto; }

.col-xxs-push-12 { left: 100%; }
.col-xxs-push-11 { left: 91.66666667%; }
.col-xxs-push-10 { left: 83.33333333%; }
.col-xxs-push-9  { left: 75%; }
.col-xxs-push-8  { left: 66.66666667%; }
.col-xxs-push-7  { left: 58.33333333%; }
.col-xxs-push-6  { left: 50%; }
.col-xxs-push-5  { left: 41.66666667%; }
.col-xxs-push-4  { left: 33.33333333%; }
.col-xxs-push-3  { left: 25%; }
.col-xxs-push-2  { left: 16.66666667%; }
.col-xxs-push-1  { left: 8.33333333%; }
.col-xxs-push-0  { left: auto; }

.col-xxs-offset-12 { margin-left: 100%; }
.col-xxs-offset-11 { margin-left: 91.66666667%; }
.col-xxs-offset-10 { margin-left: 83.33333333%; }
.col-xxs-offset-9  { margin-left: 75%; }
.col-xxs-offset-8  { margin-left: 66.66666667%; }
.col-xxs-offset-7  { margin-left: 58.33333333%; }
.col-xxs-offset-6  { margin-left: 50%; }
.col-xxs-offset-5  { margin-left: 41.66666667%; }
.col-xxs-offset-4  { margin-left: 33.33333333%; }
.col-xxs-offset-3  { margin-left: 25%; }
.col-xxs-offset-2  { margin-left: 16.66666667%; }
.col-xxs-offset-1  { margin-left: 8.33333333%; }
.col-xxs-offset-0  { margin-left: 0; }

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {float:left;}

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666667%; }
    .col-xs-10 { width: 83.33333333%; }
    .col-xs-9  { width: 75%; }
    .col-xs-8  { width: 66.66666667%; }
    .col-xs-7  { width: 58.33333333%; }
    .col-xs-6  { width: 50%; }
    .col-xs-5  { width: 41.66666667%; }
    .col-xs-4  { width: 33.33333333%; }
    .col-xs-3  { width: 25%; }
    .col-xs-2  { width: 16.66666667%; }
    .col-xs-1  { width: 8.33333333%; }

    .col-xs-pull-12 { right: 100%; }
    .col-xs-pull-11 { right: 91.66666667%; }
    .col-xs-pull-10 { right: 83.33333333%; }
    .col-xs-pull-9  { right: 75%; }
    .col-xs-pull-8  { right: 66.66666667%; }
    .col-xs-pull-7  { right: 58.33333333%; }
    .col-xs-pull-6  { right: 50%; }
    .col-xs-pull-5  { right: 41.66666667%; }
    .col-xs-pull-4  { right: 33.33333333%; }
    .col-xs-pull-3  { right: 25%; }
    .col-xs-pull-2  { right: 16.66666667%; }
    .col-xs-pull-1  { right: 8.33333333%; }
    .col-xs-pull-0  { right: auto; }

    .col-xs-push-12 { left: 100%; }
    .col-xs-push-11 { left: 91.66666667%; }
    .col-xs-push-10 { left: 83.33333333%; }
    .col-xs-push-9  { left: 75%; }
    .col-xs-push-8  { left: 66.66666667%; }
    .col-xs-push-7  { left: 58.33333333%; }
    .col-xs-push-6  { left: 50%; }
    .col-xs-push-5  { left: 41.66666667%; }
    .col-xs-push-4  { left: 33.33333333%; }
    .col-xs-push-3  { left: 25%; }
    .col-xs-push-2  { left: 16.66666667%; }
    .col-xs-push-1  { left: 8.33333333%; }
    .col-xs-push-0  { left: auto; }

    .col-xs-offset-12 { margin-left: 100%; }
    .col-xs-offset-11 { margin-left: 91.66666667%; }
    .col-xs-offset-10 { margin-left: 83.33333333%; }
    .col-xs-offset-9  { margin-left: 75%; }
    .col-xs-offset-8  { margin-left: 66.66666667%; }
    .col-xs-offset-7  { margin-left: 58.33333333%; }
    .col-xs-offset-6  { margin-left: 50%; }
    .col-xs-offset-5  { margin-left: 41.66666667%; }
    .col-xs-offset-4  { margin-left: 33.33333333%; }
    .col-xs-offset-3  { margin-left: 25%; }
    .col-xs-offset-2  { margin-left: 16.66666667%; }
    .col-xs-offset-1  { margin-left: 8.33333333%; }
    .col-xs-offset-0  { margin-left: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {float:left;}

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9  { width: 75%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-6  { width: 50%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-3  { width: 25%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-1  { width: 8.33333333%; }

    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9  { right: 75%; }
    .col-sm-pull-8  { right: 66.66666667%; }
    .col-sm-pull-7  { right: 58.33333333%; }
    .col-sm-pull-6  { right: 50%; }
    .col-sm-pull-5  { right: 41.66666667%; }
    .col-sm-pull-4  { right: 33.33333333%; }
    .col-sm-pull-3  { right: 25%; }
    .col-sm-pull-2  { right: 16.66666667%; }
    .col-sm-pull-1  { right: 8.33333333%; }
    .col-sm-pull-0  { right: auto; }

    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9  { left: 75%; }
    .col-sm-push-8  { left: 66.66666667%; }
    .col-sm-push-7  { left: 58.33333333%; }
    .col-sm-push-6  { left: 50%; }
    .col-sm-push-5  { left: 41.66666667%; }
    .col-sm-push-4  { left: 33.33333333%; }
    .col-sm-push-3  { left: 25%; }
    .col-sm-push-2  { left: 16.66666667%; }
    .col-sm-push-1  { left: 8.33333333%; }
    .col-sm-push-0  { left: auto; }

    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-0  { margin-left: 0; }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {float:left;}

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }

    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9  { right: 75%; }
    .col-md-pull-8  { right: 66.66666667%; }
    .col-md-pull-7  { right: 58.33333333%; }
    .col-md-pull-6  { right: 50%; }
    .col-md-pull-5  { right: 41.66666667%; }
    .col-md-pull-4  { right: 33.33333333%; }
    .col-md-pull-3  { right: 25%; }
    .col-md-pull-2  { right: 16.66666667%; }
    .col-md-pull-1  { right: 8.33333333%; }
    .col-md-pull-0  { right: auto; }

    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9  { left: 75%; }
    .col-md-push-8  { left: 66.66666667%; }
    .col-md-push-7  { left: 58.33333333%; }
    .col-md-push-6  { left: 50%; }
    .col-md-push-5  { left: 41.66666667%; }
    .col-md-push-4  { left: 33.33333333%; }
    .col-md-push-3  { left: 25%; }
    .col-md-push-2  { left: 16.66666667%; }
    .col-md-push-1  { left: 8.33333333%; }
    .col-md-push-0  { left: auto; }

    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {float:left;}

    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }

    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9  { right: 75%; }
    .col-lg-pull-8  { right: 66.66666667%; }
    .col-lg-pull-7  { right: 58.33333333%; }
    .col-lg-pull-6  { right: 50%; }
    .col-lg-pull-5  { right: 41.66666667%; }
    .col-lg-pull-4  { right: 33.33333333%; }
    .col-lg-pull-3  { right: 25%; }
    .col-lg-pull-2  { right: 16.66666667%; }
    .col-lg-pull-1  { right: 8.33333333%; }
    .col-lg-pull-0  { right: auto; }

    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9  { left: 75%; }
    .col-lg-push-8  { left: 66.66666667%; }
    .col-lg-push-7  { left: 58.33333333%; }
    .col-lg-push-6  { left: 50%; }
    .col-lg-push-5  { left: 41.66666667%; }
    .col-lg-push-4  { left: 33.33333333%; }
    .col-lg-push-3  { left: 25%; }
    .col-lg-push-2  { left: 16.66666667%; }
    .col-lg-push-1  { left: 8.33333333%; }
    .col-lg-push-0  { left: auto; }

    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }
}



/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after { clear: both; }



/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.

     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */
 .btn {
    font-size: 16px;
    display: inline-block;
    padding: 16px 56px 16px 35px;
    line-height: 1.3em;
    border-radius: 28px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    border: none;
    font-weight: 500;
    position: relative;
    letter-spacing: 0.2em;
    transition: all .3s ease-in-out;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: rgb(6,164,158);
    background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
}

    .btn-primary {
        background: rgb(6,164,158);
        background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
        background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    }

    .btn::before {
        content: "\e903";
        font-family: 'icomoon';
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 18px;
    }

    .btn-secondary {
        background: rgb(3,8,18);
        background: -webkit-linear-gradient(-45deg,  rgba(3,8,18,1) 0%,rgba(3,8,18,1) 100%);
        background: linear-gradient(135deg,  rgba(3,8,18,1) 0%,rgba(3,8,18,1) 100%);
    }

    .btn-secondary::before {
        color: #0670A4;
    }

    .btn-secondary-white {
        background: rgb(255,255,255);
        background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
        color: #030812;
    }

    .btn-secondary-white::before {
        color: #0670A4;
    }

    .btn-tertiary {
        background: transparent;
        color: #030812;
        padding: 0 30px 5px 0;
        border-radius: 0;
        border-bottom: 3px solid;
        border-image-slice: 3;
        border-image-source: linear-gradient(to left, transparent, transparent);
    }

    .btn-tertiary::before {
        right: 0;
        top: 0;
        color: #0670A4;
    }

  .btn + .btn {
      margin-left: 0;
      margin-top: 15px;
  }


@media (min-width: 768px) {
    .btn + .btn {
        margin-left: 15px;
    }
}



@media (min-width: 1200px) {
    .btn + .btn {
		margin-top: 0;
		margin-left: 25px;
	}

    .btn-primary:hover {
        background: rgb(6,112,164);
        background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
        background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
        background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
        color: #ffffff;
    }

    .btn-secondary:hover {
        background: rgb(3,8,18);
        background: -webkit-linear-gradient(-45deg,  rgba(3,8,18,1) 0%,rgba(48,60,90,1) 100%);
        background: linear-gradient(135deg,  rgba(3,8,18,1) 0%,rgba(48,60,90,1) 100%);
        color: #ffffff;
    }

    .btn-tertiary:hover {
        background: transparent;
        color: #030812;
        border-bottom: 3px solid;
        border-image-slice: 3;
        border-image-source: linear-gradient(to left, #06A49E, #0670A4);
    }

    .btn-secondary-white:hover {
        background: rgb(255,255,255);
        background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(141,184,204,1) 100%);
        background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(141,184,204,1) 100%);
    }

    .btn-secondary-white:hover {
        color: #030812;
    }

}




/**
 * Icons
 */

 @font-face {
    font-family: 'icomoon';
    src:  url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.eot');
    src:  url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.eot') format('embedded-opentype'),
      url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.ttf') format('truetype'),
      url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.woff') format('woff'),
      url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-Arrow-Left:before {
    content: "\e900";
  }
  .icon-Arrow-Right:before {
    content: "\e901";
  }
  .icon-Autonomy:before {
    content: "\e902";
  }
  .icon-Button-Arrow:before {
    content: "\e903";
  }
  .icon-Cancel:before {
    content: "\e904";
  }
  .icon-Cross:before {
    content: "\e905";
  }
  .icon-Discovery:before {
    content: "\e906";
  }
  .icon-Facebook:before {
    content: "\e907";
  }
  .icon-Instagram:before {
    content: "\e908";
  }
  .icon-Linkedin:before {
    content: "\e909";
  }
  .icon-Location:before {
    content: "\e90a";
  }
  .icon-Mail:before {
    content: "\e90b";
  }
  .icon-Menu:before {
    content: "\e90c";
  }
  .icon-Minus:before {
    content: "\e90d";
  }
  .icon-Modularity:before {
    content: "\e90e";
  }
  .icon-Orchestration:before {
    content: "\e90f";
  }
  .icon-Phone:before {
    content: "\e910";
  }
  .icon-Plus:before {
    content: "\e911";
  }
  .icon-Search:before {
    content: "\e912";
  }
  .icon-Search-1:before {
    content: "\e913";
  }
  .icon-Sign-In:before {
    content: "\e914";
  }
  .icon-Twitter:before {
    content: "\e915";
  }




/**
 * Forms
 */

 .form-col {
    margin-bottom: 30px;
    position: relative;
}

label {
    padding: 0 0 10px 0;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    text-align: left;
    color: #0B142B;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.2em;
    font-family: 'Lexend', sans-serif;
    transition: all ease-in-out .3s;
}

label span {
    color: #0670A4;
}

textarea {
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 500;
    text-align: left;
    color: #030812;
    display: block;
    height: 92px;
    width: 100%;
    background: #F4F9FC;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
}

input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
  -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}


[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 500;
    text-align: left;
    color: #030812;
    display: block;
    height: 60px;
    width: 100%;
    background: #F4F9FC;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
}


[type="text"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="week"]:focus,
[type="date"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #0670A4;
}

.form-col .btn {
    width: 243px;
}

.form-col .btn::before {
    right: 64px;
}

input::-webkit-input-placeholder {
  color: #657883;
  opacity: 1;
}


button[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
}

@media (min-width: 1200px) {
    .form-flex-col {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .form-submit-col {
        width: 280px;
    }

    .form-flex-col p {
        width: calc(100% - 280px);
        padding: 0;
    }
}

/**
 * Pagination
 */

 .wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {

    .wp-pagenavi { margin-top: 70px; }

}



/**
 * Sticky Sidebar
 */

@media( min-width: 1025px ) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 125px;
    }
}
