/*------------------------------------*\

    Header CSS

    eg: Header, Navigation, Ubermenu, Masthead
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

/**
 * Page-head
 */


.page-header {
    top: 0;
    padding: 20px 0;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #030812;
}

.nav-fixed {
    background-color: #030812;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    z-index: 99999;
    width: 100%;
    color: #fff;
    padding: 0 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.fixed-btn .btn {
    border-radius: 0;
    padding: 16px 56px 16px 22px;
}

.toggle-menu {
    font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 1em;
    margin-right: 22px;
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}

.toggle-menu .fas {
    display: none;
}

.toggle-menu i {
    font-size: 27px;
    display: block;
    line-height: 0.6em;
    margin-top: 11px;
}

.toggle-menu .icon-Cancel {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .toggle-menu .icon-Cancel {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 9px;
    }
}

.logo {
    position: relative;
    float: left;
    max-width: 115px;
}

/* Most retina devices */
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 1024px) {
    .logo img { display: none; }

    .logo a {
        background: url('https://etagtechnologies.webpagefxstage.com/wp-content/uploads/2022/02/logo.png');
        background-size: 115px 43.77px;
        display: inline-block;
        height: 43.77px;
        width: 115px;
     }
}
​
/* iPhone 12 & 13 */
@media (-webkit-min-device-pixel-ratio: 3) and (max-width: 1024px) {
    .logo img { display: none; }

    .logo a {
        background: url('https://etagtechnologies.webpagefxstage.com/wp-content/uploads/2022/02/logo.png');
        background-size: 115px 43.77px;
        display: inline-block;
        height: 43.77px;
        width: 115px;
     }
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.sign-in a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    border: none;
    border-bottom: 1px solid #0670A4;
    padding-bottom: 5px;
    letter-spacing: 0.05em;
}

.sign-in a i {
    font-size: 17px;
    background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
    padding-bottom: 2px;
}

.search-icon {
    color: rgba(255,255,255,0.3);
    font-size: 22px;
    margin-left: 22px;
    cursor: pointer;
}

.search-div {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #0B142B;
    display: none;
    z-index: 9;
}

.js-search-active.search-div {
    display: block;
}

.js-search-toggle.js-search-active i::before {
    content: "\e904";
    color: #fff;
}

.search-content {
    background-color: #0B142B;
    border: none;
    position: relative;
    height: 52px;
    border-radius: 30px;
    margin: 10px auto;
    max-width: 670px;
}

.search-content input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 30px;
    height: 100%;
    padding: 0 60px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1em;
    color: #F4F9FC;
    font-weight: 500;
    background: #182546;
}

.search-content button[type="submit"] {
    border: none;
    border-radius: 50%;
    padding: 0 0;
    color:#FFFFFF;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 18px;
    line-height: 2.4em;
    width: 44px;
    height: 44px;
    margin: 0;
    background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
}


@media (min-width: 768px) {
    .toggle-menu i {
        font-size: 29px;
        margin-top: 0;
    }

    .toggle-menu {
        font-size: 10px;
        margin-right: 0;
    }

    .header-btn {
        margin: 0 32px;
    }

   .header-btn .btn {
        padding: 13px 56px 13px 27px;
    }

    .header-right {
        margin-top: 0;
    }

    .page-header {
        position: fixed;
        top: 0;
        padding: 16px 0;
    }

    .admin-bar .page-header {
        top: 46px;
    }

}

@media (min-width: 783px) {
    .admin-bar .page-header {
        top: 32px;
    }
}

@media (min-width: 1200px) {
    .page-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .search-icon {
        margin-left: 0px;
    }

    .search-icon:hover {
        color: rgba(255,255,255,1);
    }

    .sign-in a:hover {
        color: #06A49E;
    }
}

@media (min-width: 1366px) {
    .logo {
        max-width: 134px;
        margin-top: 3px;
    }

    .page-header {
        padding: 23px 0 19px;
    }

    .header-btn {
        margin: 0 22px 0 45px;
    }

    .header-btn .btn {
        padding: 16px 59px 16px 31px;
    }

    .sign-in {
        padding-bottom: 5px;
    }
}

/**
 * Navigation
 */
.ubermenu-responsive-toggle-close-icon-times {
    display: none !important;
}

.header-right .ubermenu-responsive-toggle {
    display: none;
}

@media (min-width: 768px) {
    .header-right .ubermenu-responsive-toggle {
        display: block;
    }
}

@media (min-width: 1200px) {
    .header-right .ubermenu-responsive-toggle {
        display: none;
    }
}

.ubermenu {
    position: fixed;
    left: 0;
    top: 0;
    height: calc( 100vh - 50px );
    overflow-y: auto !important;
    background-color: #fff;
}

@media (min-width: 768px) {
    .ubermenu {
        top: 78.8px;
        height: calc( 100vh - 78.8px );
    }
}

@media (min-width: 1200px) {
    .ubermenu {
        position: static;
        height: auto;
        display: block;
        background-color: transparent;
        padding-left: 54px;
        padding-top: 15px;
        float: left;
        top: 0;
        overflow-y: visible !important;
    }
}

.ubermenu .ubermenu-item::before {
    display: none;
}

.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
    display: block;
    right: 20px;
    top: 50%;
    font-size: 21px;
    line-height: 0.7;
}

.ubermenu.ubermenu-submenu-indicator-closes .ubermenu-sub-indicator-close {
    font-size: 21px;
    right: 20px;
}

.ubermenu .ubermenu-item > i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}

.ubermenu .ubermenu-item .ubermenu-submenu-drop {
    position: relative;
}

@media (min-width: 1200px) {
    .ubermenu .ubermenu-item .ubermenu-submenu-drop {
        position: absolute;
    }
}

.ubermenu a {
    font-weight: 500;
}

.ubermenu .ubermenu-item.ubermenu-item-level-0 {
    border-bottom: 1px solid #eee;
}

@media (min-width: 1200px) {
    .ubermenu .ubermenu-item.ubermenu-item-level-0 {
        border-bottom: none;
        padding: 0 3px;
    }

    .ubermenu .ubermenu-item.ubermenu-item-level-0 > a {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        padding: 0 0 0 15px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        position: relative;
    }

    .ubermenu .ubermenu-item.ubermenu-item-level-0 > a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #0670A4;
        opacity: 0;
    }

    .ubermenu .ubermenu-item.ubermenu-item-level-0 > a:hover {
        color: #fff;
    }

    .ubermenu .ubermenu-item.ubermenu-item-level-0 > a:hover::before {
        opacity: 1;
    }

    .ubermenu .ubermenu-item.ubermenu-current-menu-item a {
        color: #fff;
    }

    .ubermenu .ubermenu-item.ubermenu-current-menu-item a::before {
        opacity: 1;
    }
}

@media (min-width: 1366px) {
    .ubermenu .ubermenu-item.ubermenu-item-level-0 {
        padding: 0 16px;
    }
}

.ubermenu-item-level-0.ubermenu-active {
    background-color: rgba(0, 0, 0, 0.03);
}

.ubermenu-item-level-0.ubermenu-active > a {
    background: -webkit-linear-gradient(#06a49e 0%, #0670a4 100%);
    background: -o-linear-gradient(#06a49e 0%, #0670a4 100%);
    background: linear-gradient(#06a49e 0%, #0670a4 100%);
    color: #fff;
}

@media (min-width: 1200px) {
    .ubermenu-item-level-0.ubermenu-active > a {
        background: none;
    }

    .ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator  {
        display: none;
    }

    .ubermenu-item-level-0.ubermenu-active > a::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 30px;
        background: -webkit-linear-gradient(#06a49e 0%, #0670a4 100%);
        background: -o-linear-gradient(#06a49e 0%, #0670a4 100%);
        background: linear-gradient(#06a49e 0%, #0670a4 100%);
        clip-path: polygon(50% 55%, 0% 100%, 100% 100%);
    }
}

@media (min-width: 1366px) {
    .ubermenu-item-level-0.ubermenu-active > a::after {
        bottom: -38px;
    }
}

.ubermenu-item-level-0.ubermenu-active > .ubermenu-submenu {
    margin-top: -10px;
}

.ubermenu-item-level-0 > .ubermenu-submenu.ubermenu-submenu-type-flyout {
    margin-top: 0;
}

.ubermenu-item-level-0 > .ubermenu-submenu.ubermenu-submenu-type-flyout > li > a::before {
    display: none;
}

.ubermenu .ubermenu-retractor::before {
    display: none !important;
}

@media (min-width: 1200px) {

    .ubermenu-item-level-0.ubermenu-active > .ubermenu-submenu {
        margin-top: 0;
    }


    .ubermenu-item-level-0 > .ubermenu-submenu {
        top: 79px !important;
        left: 50% !important;
        transform: translateX(-50%);
        background-color: #fff;
        padding-top: 6px;
        box-shadow: 0px 3px 35px rgba(37, 45, 60, 0.13) !important;
    }

    .ubermenu-item-level-0 > .ubermenu-submenu::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 6px;
        background: -webkit-linear-gradient(#06a49e 0%, #0670a4 100%);
        background: -o-linear-gradient(#06a49e 0%, #0670a4 100%);
        background: linear-gradient(#06a49e 0%, #0670a4 100%);
    }

    .ubermenu-item-level-0 > .ubermenu-submenu > ul {
        margin-bottom: 0 !important;
    }

    .ubermenu-item-level-0 .ubermenu-submenu.ubermenu-submenu-type-flyout {
        padding: 30px;
    }

    .ubermenu-item-level-0 > .ubermenu-submenu.ubermenu-submenu-type-flyout {
        left: auto !important;
        transform: translateX(0) !important;
        padding: 40px;
    }

    .ubermenu-item-level-0 > .ubermenu-submenu.ubermenu-submenu-type-flyout a {
        color: #657883 !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0 !important;
        padding: 10px 0 !important;
    }

    .ubermenu-item-level-0 > .ubermenu-submenu.ubermenu-submenu-type-flyout a:hover {
        font-weight: 600 !important;
        color: #030812 !important;
    }
}

@media (min-width: 1366px) {
    .ubermenu-item-level-0 > .ubermenu-submenu {
        top: 96px !important;
    }
}

.ubermenu-item-level-1 > .ubermenu-submenu-type-flyout {
    box-shadow: none !important;
    background-color: #fff;
}

@media (min-width: 1200px) {
    .ubermenu-item-level-1 > .ubermenu-submenu-type-flyout {
        background-color: #fff;
        box-shadow: 0 3px 35px rgba(37,45,60,.13) !important;
        left: calc( 100% + 40px ) !important;
    }
}

.ubermenu-item-level-2 {
    padding-bottom: 0;
}

@media (min-width: 1200px) {
    .ubermenu-item-level-2 {
        padding-top: 65px !important;
        padding-left: 60px !important;
    }

    .ubermenu-item-level-2:first-child {
        padding: 0 !important;
    }

    .ubermenu-item-level-2 > ul {
        padding-bottom: 0 !important;
    }
}

@media (min-width: 1200px) {
    .ubermenu-item-level-3 {
        margin-top: 0 !important;
    }

    .ubermenu-item-level-3 .ubermenu-custom-content {
        padding: 0;
    }
}

.ubermenu-item-level-3 > a {
    color: #0670A4 !important;
}

@media (min-width: 1200px) {
    .ubermenu-item-level-3 > a {
        font-family: 'Montserrat', sans-serif;
        color: #030812 !important;
        font-size: 21px !important;
        font-weight: 600 !important;
        letter-spacing: 0 !important;
    }

    .ubermenu-item-level-3 > a::before {
        display: none;
    }
}

.ubermenu-item-level-3 > ul {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

@media (min-width: 1200px) {
    .ubermenu-item-level-3 > ul {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.ubermenu-item-level-3 > ul a:hover {
    color: #0670A4;
}

.ubermenu-item-level-4 > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

@media (min-width: 1200px) {
    .ubermenu-item-level-4 > a {
        color: #657883 !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0 !important;
    }

    .ubermenu-item-level-4 > a:hover {
        color: #030812 !important;
        font-weight: 600 !important;
    }

    .ubermenu-item-level-4 > a:hover::before {
        display: none;
    }
}

@media (min-width: 1200px) {
    .megamenu-cta {
        position: relative;
    }

    .megamenu-cta::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(rgba(6, 164, 158, 0.7) 0%, #0670a4 100%);
        background: -o-linear-gradient(rgba(6, 164, 158, 0.7) 0%, #0670a4 100%);
        background: linear-gradient(rgba(6, 164, 158, 0.7) 0%, #0670a4 100%);
        z-index: 1;
    }

    .megamenu-cta img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .megamenu-content {
        position: relative;
        padding: 107px 62px 89px;
        z-index: 2;
    }

    .megamenu-content p {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 13px;
        font-family: 'Lexend', sans-serif;
        letter-spacing: 0.2em;
        color: #fff;
    }

    .megamenu-content h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 28px;
        color: #fff;
        padding: 0 0 50px 0;
    }

    .megamenu-content a {
        display: inline-block !important;
        padding-left: 0 !important;
        padding-bottom: 5px !important;
        font-family: 'Jost', sans-serif !important;
        font-size: 16px !important;
        letter-spacing: 0.2em !important;
        color: #fff !important;
        border-bottom: 3px solid transparent;
    }

    .megamenu-content a::before {
        display: none;
    }

    .megamenu-content a span {
        display: inline-block;
        margin-left: 20px;
        color: #88B6CC;
        font-size: 18px;
    }

    .megamenu-content a:hover {
        border-bottom: 3px solid #fff;
    }

    .megamenu-content a:hover span {
        color: #fff;
    }
}


/*
 * If admin
 */
 .admin-bar .ubermenu {
     top: 46px;
     height: calc( 100vh - 96px );
 }

 @media (min-width: 768px) {
     .admin-bar .ubermenu {
         top: 110.8px;
         height: calc( 100vh - 110.8px );
     }
 }

 @media (min-width: 1200px) {
     .admin-bar .ubermenu {
         height: auto;
     }
 }

/*
 * Masthead
 */

.masthead {
    position: relative;
}

.masthead-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.masthead-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;';
    object-position: right;
}

.masthead--inner img {
    object-position: left;
}

.masthead__innercontent {
    position: relative;
    padding: 50px 0;
}

.masthead__innercontent h1,
.masthead__innercontent .h1 {
    color: #fff;
}

@media (min-width: 768px) {
    .masthead__innercontent {
        padding: 100px 0 80px 0;
    }

    .masthead {
        margin-top: 78.8px;
    }
}

@media (min-width: 1366px) {
    .masthead {
        margin-top: 96px;
    }
}

/**
 * Breadcrumbs
 */


 .breadcrumbs {
    margin: 0 0 0;
    padding: 24px 0 16px 0;
    position: relative;
    z-index: 1;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li::before {
    display: none;
}

.breadcrumbs ul li {
    margin: 0;
    padding: 0 18px 0 14px;
    color: #fff;
    font-size: 16px;
    line-height: 1.1em;
    text-transform: uppercase;
    display: inline-block;
    border-right: 1px solid #88B6CC;
    letter-spacing: 0.2em;
}

.breadcrumbs ul li:last-child {
    border-right: none;
}

.breadcrumbs ul li::before {
    display: none;
}

.breadcrumbs ul li a {
   font-weight: 400;
   background: none;
   color: #88B6CC;
   border: none;
}

.breadcrumbs ul li a:hover {
   color: #fff;
}
