/*------------------------------------*\

    Posts CSS

    Posts.................Post content for loop on blog homepage, category, search page, archives, etc.
    Sidebar...............Sidebar elements.

\*------------------------------------*/


.post-item {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
}

.post-item:first-of-type {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.post-item__heading a {
    text-decoration: none;
}

.post-item .btn,
.post-item .btn-primary {
    margin-top: 30px;
}

.post-item__meta {
    font-size: .8em;
}


@media (min-width: 1025px) {

    .post-item {
        padding-top: 50px;
        margin-top: 50px;
    }
}

/**
 * Blog Archive
 */
 .blog-listing .col-xxs-12,
 .post-listing .col-xxs-12 {
     margin-top: 30px;
 }

 .blog-listing .col-xxs-12:first-child,
 .post-listing .col-xxs-12:first-child {
     margin-top: 0;
 }

 .blog-post__item {
     background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 5px #eee;
    -moz-box-shadow: 0px 0px 5px 5px #eee;
    box-shadow: 0px 0px 5px 5px #eee;
 }

  @media (min-width: 768px) {
      .blog-post__item {
          display: flex;
      }

      .blog-post__img-container {
          width: 40%;
      }
  }

 .blog-post__img-container img {
     width: 100%;
     height: 250px;
     object-fit: cover;
 }

 @media (min-width: 768px) {
     .blog-post__img-container img {
         height: 100%;
     }
 }

 .blog-post__meta {
     padding: 25px 30px;
 }

 @media (min-width: 1200px) {
     .blog-post__title {
         padding-top: 0;
     }

     .blog-post__title__link:hover {
         color: #0670A4;
     }
 }

 .blog-post__tags {
     margin-bottom: 10px;
 }

 @media (min-width: 1200px) {
     .blog-post__tags {
         margin-bottom: 20px;
     }
 }

 .blog-post__tags .blog-post__tag {
     color: #0670A4;
     margin-right: 10px;
 }

 @media (min-width: 1200px) {
     .blog-post__tags .blog-post__tag:hover {
         color: #030812;
     }
 }

 .blog-post__excerpt {
     line-height: 1.5;
 }

 .blog-listing__pagination .load-more,
 .post-listing__pagination .load-more {
     margin-top: 50px;
 }

/**
 * Sidebar
 */

/* Blog Sidebar */
.page-sidebar {
    margin-top: 50px;
}

 @media (min-width: 1025px) {
     .page-sidebar {
         margin-top: 0;
     }
 }

.page-sidebar .widget {
	margin-bottom: 30px;
}

.page-sidebar .widget h3 {
    padding-top: 0;
}

.page-sidebar .widget .search-submit {
    font-size: 16px;
    display: inline-block;
    padding: 16px 35px 16px 35px;
    line-height: 1.3em;
    border-radius: 28px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    border: none;
    font-weight: 500;
    position: relative;
    letter-spacing: 0.2em;
    transition: all .3s ease-in-out;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: rgb(6,164,158);
    background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
}

 @media (min-width: 1200px) {
    .page-sidebar .widget .search-submit:hover {
        background: rgb(6,112,164);
        background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
        background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
        background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
        color: #ffffff;
    }
}

.page-sidebar .widget ul {
    padding-left: 0;
    padding-bottom: 0;
}

.page-sidebar .widget ul li {
    padding-left: 0;
}

.page-sidebar .widget ul li::before {
    display: none;
}

.page-sidebar .widget ul li a {
    color: #0670A4;
}

.page-sidebar .widget ul li a:hover {
    color: #030812;
}

.page-sidebar .widget .container,
.page-sidebar .widget .col-xxs-12 {
    padding: 0;
}

.page-sidebar .widget .container .row {
    margin: 0;
}

.page-sidebar .widget.widget_block {
    margin-bottom: 0;
}

.page-sidebar .widget.widget_categories,
.page-sidebar .widget.widget_archive {
    margin-bottom: 30px;
}



/**
* FX Load More
*/

/* Load More Progress Bar */
.load-more__progress {
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    border: 0;
    border-radius: 0;
    min-width: 250px;
}
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    height: 10px;
    border: 0;
    border-radius: 0;
}
progress::-webkit-progress-bar {
    background-color: #ddd;
}
progress::-webkit-progress-value {
    background-color: #4a4a4a; /* TODO: Please add a branded background color for progress bar value */
}

/* Loading Indicator */
.is-loading:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: #E3E3E3 #E3E3E3 transparent;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: simpleSpin 1.5s linear infinite;
    animation: simpleSpin 1.5s linear infinite;
}

/* Load More Button */
.load-more__btn {
    border: 0;
    display: block;
    margin-top: 20px;
}

.load-more__btn.is-loading {
    position: relative;
    opacity: 0.6;
    cursor: not-allowed;
}

.load-more__btn.is-loading:before {
    width: 20px;
    height: 20px;
}

.load-more__btn.is-disabled {
    display: none;
    cursor: not-allowed;
    background-color: #4a4a4a;
}

/* Placeholder Space */
.placeholder-block {
    position: relative;
    display: flex;
}

.placeholder-block__inner {
    flex-grow: 1;
    background-color: #fafafa;
}

.placeholder-block.is-loading:before {
    width: 50px;
    height: 50px;
}

@-webkit-keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}


/* Search Results */
.search-container {
    margin: 0;
    padding: 50px 0;
}

@media (min-width: 768px) {
    .search-container {
        margin-top: 78.8px;
        padding: 100px 0;
        min-height: calc( 100vh - 419.11px );
    }

    .admin-bar .search-container {
        min-height: calc( 100vh - 451.11px );
    }
}

@media (min-width: 1200px) {
    .search-container {
        min-height: calc( 100vh - 428.11px );
    }

    .admin-bar .search-container {
        min-height: calc( 100vh - 460.11px );
    }
}

@media (min-width: 1366px) {
    .search-container {
        margin-top: 96px;
        min-height: calc( 100vh - 439.31px );
    }

    .admin-bar .search-container {
        min-height: calc( 100vh - 471.31px );
    }
}

.search-results.js-load-more-posts {
    margin-bottom: 50px;
}

.search-result {
    text-decoration: none;
}

.search-result__title {

}

.search-result__excerpt {
    margin-bottom: 20px;
}

/*
 * Social Share
 */
.social-share-row li::before {
    display: none;
}

.social-share-row__item {
    padding-left: 0;
    margin-bottom: 0;
}

.resp-sharing-button__link {
    margin: 0 5px !important;
}

.resp-sharing-button {
    padding: 5px 15px !important;
}
