.fx-accordion {
    position: relative;
    margin-bottom: 30px;
}

.fx-accordion__panel {
    background-color: #fff;
    box-shadow: 0 3px 25px rgba(37,45,60,0.1);
    border-radius: 6px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 20px 0;
    transition: 0.5s all ease-in-out;
}

.fx-accordion__panel p {
    padding: 0;
}

.fx-accordion__panel__toggle {
    position: relative;
    list-style-type: none !important;
    margin: 0 0 0;
    display: block;
    color: inherit;
    line-height: normal;
    background: #fff;
    padding: 10px 35px 10px 20px;
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: left;
    color: #030812;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 16px;
}


.fx-accordion__panel.is-expanded .fx-accordion__panel__toggle,
.fx-accordion__panel__toggle:hover,
.fx-accordion__panel__toggle:focus {
    color: inherit;
    background: #fff;
    text-decoration: none;
}

.fx-accordion__panel.is-expanded .fx-accordion__panel__toggle {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #fff;
}

.fx-accordion__panel .fx-accordion__panel__toggle:after {
    content: '\e911';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: 12px;
    width: 22px;
    height: 26px;
    background: rgb(6,164,158);
    background: -webkit-linear-gradient(-45deg, rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg, rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4px;
}

.fx-accordion__panel.is-expanded .fx-accordion__panel__toggle:after {
    content: '\e90d';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#030812+0,303c5a+100 */
    background: rgb(3,8,18); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(3,8,18,1) 0%, rgba(48,60,90,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(3,8,18,1) 0%,rgba(48,60,90,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(3,8,18,1) 0%,rgba(48,60,90,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030812', endColorstr='#303c5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.fx-accordion__panel:not(.is-expanded) .fx-accordion__panel__content {
    height: 0 !important;
}

.fx-accordion__panel__content {
    padding: 0 20px;
    border-top: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .fx-accordion__panel__content {
        position: relative;
        width: 100%;
        padding: 0 35px;
    }

    .fx-accordion__panel__toggle{
        padding: 12px 35px;
    }

    .fx-accordion__panel .fx-accordion__panel__toggle::after {
        top: 8px;
        right: 35px;
    }
}
