/*------------------------------------*\

    WebFX WYSIWYG Customizations - Global styling for all ACF WYSIWYG's

    Add custom WYSIWYG styling to this file if it should be applied to all ACF WYSIWYG's on the site
    Otherwise, put your block-specific styles in individual block stylesheets

\*------------------------------------*/

.wysiwyg {
    color: #030812;
    position: relative;
}

.bg-white {
    background: #ffffff;
}

.bg-blue {
    background: #F4F9FC;
}

.bg-dark-blue {
    background: #030812;
    color: #ffffff;
}

.bg-dark-blue h1,
.bg-dark-blue h2,
.bg-dark-blue h3,
.bg-dark-blue h4 {
    color: #ffffff;
}

.bg-dark-blue .btn-tertiary {
    color: #ffffff;
}

.wysiwyg-wrapper {
    position: relative;
    z-index: 9;
}

.pattern-wysiwyg-bg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.example-btns {
    margin-top: 30px;
}

.read-more--toggle {
    border: none;
    background: transparent;
    color: #030812;
    font-size: 16px;
    padding: 0 20px 0 0;
    font-weight: 500;
    transition: all .4s ease-in-out;
    margin: 30px 0;
    position: relative;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.read-more--toggle::before {
    content: "\e903";
    position: absolute;
    top: 4px;
    right: -10px;
    font-size: 18px;
    line-height: 1em;
    font-family: 'icomoon' !important;
    transform: rotate(90deg);
    color: #0670A4;
}


/* table-section */

.ninja_table_wrapper {
    padding: 0 0 !important;
    overflow-x: auto !important;
    margin-right: -22px !important;
    color: #030812 !important;
}

.ninja_table_wrapper table {
    border-collapse: collapse !important;
    width: 860px !important;
}

.ninja_table_wrapper table thead tr th {
    padding: 22px 20px !important;
    text-align: left !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.2em !important;
    font-family: 'Lexend', sans-serif !important;
    border: none !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    background-color: #030812 !important
}

.ninja_table_wrapper table tbody tr {
    background-color: #E7F0F5 !important;
}

.ninja_table_wrapper table tbody tr:nth-child(odd) {
    background-color: #FFFFFF !important;
}

.ninja_table_wrapper table tbody tr td,
.ninja_table_wrapper table tbody tr th {
    padding: 18px 20px !important;
    text-align: left !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif !important;
    color: #030812 !important;
}

.table-wrap-outer:after {
    display: none;
}

@media (min-width: 768px) {
    .ninja_table_wrapper table {
        width: 100% !important;
    }

    .read-more {
        display: block !important;
        word-break: inherit;
    }
}

@media (min-width: 1200px) {

    .ninja_table_wrapper {
        margin-top: 15px !important;
    }

    .ninja_table_wrapper table thead tr th {
        padding: 25px 32px !important;
    }

    .ninja_table_wrapper table tbody tr td,
    .ninja_table_wrapper table tbody tr th {
        padding: 20px 32px !important;
    }
}
