.contact-form {
    margin-top: 20px;
}

.sidebar__title {
    background-color: #030812;
    color: #fff;
    padding: 25px 25px;
}

.sidebar__title h4 {
    padding: 0;
    color: #fff;
}

.sidebar__text {
    background-color: #1C2538;
    padding: 20px 25px;
}

.sidebar__text ul {
    margin: 0;
    padding: 0;
}

.sidebar__text ul li {
    color: #7B8C96;
    margin: 0;
    padding: 10px 0;
}

.sidebar__text ul li::before {
    display: none;
}

.sidebar__text ul li a {
    color: #7B8C96;
    font-weight: 400;
}

.sidebar__text ul li span {
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 5px;
}

@media (min-width: 1200px) {
    .sidebar__title {
        padding: 39px 50px;
    }

    .sidebar__text {
        background-color: #1C2538;
        padding: 29px 50px;
    }

    .sidebar__text ul li {
        color: #7B8C96;
        margin: 0;
        padding: 15px 0;
    }

    .sidebar__text ul li a:hover {
        color: #fff;
    }
}














