.image-slider-wrapper {
    padding-top: 25px;
    position: relative;
}
.image-button {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.image-button__img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


.image-button__hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #fff;
}

.image-button--static .image-button__hover {
    padding: 30px 20px 30px 20px;
}

.image-button__title,
.image-button__hidden {
    position: relative;
    z-index: 3;
}

.image-button__description,
.image-button__cta {
    display: block;
}

.image-button__title {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    padding: 0;
}

.image-button__description {
    margin-top: 3px;
}
.image-button-slide {
    padding: 8px;
    padding-bottom: 20px;
}

.image-button--link {
    position: relative;
}

.image-button--link::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    background: -moz-linear-gradient(top,  rgba(6,164,158,0.3) 0%, rgba(6,112,164,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(6,164,158,0.3) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(to bottom,  rgba(6,164,158,0.3) 0%,rgba(6,112,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d06a49e', endColorstr='#0670a4',GradientType=0 );
    z-index: 2;
}

.image-button__description {
    font-weight: 400;
}

.image-button__hidden .btn {
    color: #fff;
    margin-bottom: 20px;
}

.image-button__hidden .btn::before {
    color: #88B6CC;
}

.image-button-slide {
    position: relative;
}

.image-button-slider {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.image-button-slider:after {
    background: -moz-linear-gradient(left,  rgba(244,249,252,0.5) 0%, rgba(244,249,252,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(244,249,252,0.5) 0%,rgba(244,249,252,1) 100%);
    background: linear-gradient(to right,  rgba(244,249,252,0.5) 0%,rgba(244,249,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f4f9fc', endColorstr='#f4f9fc',GradientType=1 );
    content: '';
    position: absolute;
    width: 32px;
    height: calc(100% - 16px);
    top: 8px;
    left: 0;
    z-index: 2;
}

.image-button-slider:before {    
    background: -moz-linear-gradient(left,  rgba(244,249,252,1) 0%, rgba(244,249,252,0.5) 100%);
    background: -webkit-linear-gradient(left,  rgba(244,249,252,1) 0%,rgba(244,249,252,0.5) 100%);
    background: linear-gradient(to right,  rgba(244,249,252,1) 0%,rgba(244,249,252,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f9fc', endColorstr='#80f4f9fc',GradientType=1 );
    content: '';
    position: absolute;
    width: 32px;
    height: calc(100% - 16px);
    top: 8px;
    right: 0;
    z-index: 2;
}

.image-bttn {
    padding-top: 0;
    text-align: center;
}

.image-button-slider-arrow {
    text-align: center;
    padding-bottom: 20px;
}

/* .image-button-slider-arrow .right_button,
.image-button-slider-arrow .left_button {
    box-shadow: 0 0 15px rgba(4,51,74,0.36);
    background: rgb(6,164,158);
    background: -moz-linear-gradient(-45deg,  rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 );
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 9px;
    cursor: pointer;
    line-height: 35px;
} */

@media (min-width: 768px) {
    .image-button {
        height: 360px;
    }

    .image-button-slider:after {
        width: 52px;
    }
    
    .image-button-slider:before {
        width: 52px;
    }

    .image-bttn .btn {
        float: left;
    }

    .image-button-slider-arrow {
        text-align: center;
        padding-bottom: 0;
        float: right;
    }

    /* .image-button-slider-arrow .right_button,
    .image-button-slider-arrow .left_button {
        margin: 9px 0 0 18px;
    } */

    .image-button-slider {
        padding-bottom: 0;
        margin-bottom: 0;
    }  
    
    .image-button-slider .slick-arrow {
        position: absolute;
        left: auto;
        right: 0;
        bottom: -45px;
        margin: 0;
    }

    .image-button-slider .slick-next {
        margin-right: 22px;
    }

    .image-button-slider .slick-prev {
        margin-right: 77px;
    }
}

@media (min-width: 1200px) {
    .image-button {
        height: 424px;
    }

    .image-button__hover {
        z-index: 2;
        bottom: 0;
        color: #fff;
        padding: 20px 64px;
    }

    .image-button__hidden {
        opacity: 0;
        max-height: 0;
        transition: all 0.5s ease-in-out;
        
    }

    .image-button:hover .image-button__hidden {
        opacity: 1;
        max-height: 300px;
        transition: all 0.5s ease-in-out;
    }
    .image-button-bttn .btn {
        float: left;
    }

    .image-button-slider-arrow {
        float: right;
    }

    .image-button-slider-arrow .right_button:hover,
    .image-button-slider-arrow .left_button:hover {
        background: rgb(6,164,158);
        background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
        background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
        background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    }

    .image-button-slider:after {
        width: 244px;
        top: 16px;
        height: calc(100% - 64px);
    }
    
    .image-button-slider:before {
        width: 244px;
        top: 16px;
        height: calc(100% - 64px);
    }

    .image-bttn {
        padding-top: 10px;
        text-align: center;
    }

    .image-button-slide {
        padding: 16px;
    }
    
    .image-button-slide {
        padding-bottom: 50px;
    }

    .image-button--link {
        position: relative;
    }

    .slick-active .image-button--link {
        box-shadow: 0 15px 30px rgba(4,51,74,0.36);
    }

    .image-button:hover::before {
        opacity: 1;
    }

    .image-button-slider .slick-next {
        margin-right: 272px;
    }

    .image-button-slider .slick-prev {
        margin-right: 332px;
    }
}