/**
 * Text alignment
 */
.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


/**
 * Font weights
 */
.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }


/**
 * Add/remove margins
 */
.push           { margin:       2em!important; }
.push--top      { margin-top:   2em!important; }
.push--right    { margin-right: 2em!important; }
.push--bottom   { margin-bottom:2em!important; }
.push--left     { margin-left:  2em!important; }
.push--ends     { margin-top:   2em!important; margin-bottom:2em!important; }
.push--sides    { margin-right: 2em!important; margin-left:  2em!important; }

.push-half          { margin:       1em!important; }
.push-half--top     { margin-top:   1em!important; }
.push-half--right   { margin-right: 1em!important; }
.push-half--bottom  { margin-bottom:1em!important; }
.push-half--left    { margin-left:  1em!important; }
.push-half--ends    { margin-top:   1em!important; margin-bottom:1em!important; }
.push-half--sides   { margin-right: 1em!important; margin-left:  1em!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
.soft           { padding:       2em!important; }
.soft--top      { padding-top:   2em!important; }
.soft--right    { padding-right: 2em!important; }
.soft--bottom   { padding-bottom:2em!important; }
.soft--left     { padding-left:  2em!important; }
.soft--ends     { padding-top:   2em!important; padding-bottom:2em!important; }
.soft--sides    { padding-right: 2em!important; padding-left:  2em!important; }

.soft-half           { padding:       1em!important; }
.soft-half--top      { padding-top:   1em!important; }
.soft-half--right    { padding-right: 1em!important; }
.soft-half--bottom   { padding-bottom:1em!important; }
.soft-half--left     { padding-left:  1em!important; }
.soft-half--ends     { padding-top:   1em!important; padding-bottom:1em!important; }
.soft-half--sides    { padding-right: 1em!important; padding-left:  1em!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }


/**
 * Add custom editor styles here
 */
 /**
   * Typography
   */

 /*
   - Please set up line-heights in ems
   - Set up typography styling based on styles found in .xd file under Assets > Character Styles
   */

   h1,
   .h1,
   h2,
   .h2,
   h3,
   .h3,
   h4,
   .h4,
   h5,
   .h5,
   h6,
   .h6 {
       margin:0;
       padding: 0;
       font-family: 'Montserrat', sans-serif;
       font-weight: 700;
       color: #030812;
 }

 h1,
 .h1 {
     font-size: 36px;
     line-height: 1.27em;
 }

 h2,
 .h2 {
     font-size: 32px;
     line-height: 1.4em;
     padding-bottom: 14px;
 }

 h3,
 .h3 {
     font-size: 26px;
     line-height: 1.27em;
     padding-bottom: 15px;
 }

 h4,
 .h4 {
     font-size: 24px;
     line-height: 1.27em;
     padding-bottom: 15px;
 }

 h5,
 .h5,
 .subheading {
     margin:0;
     padding: 0 0 10px;
     font-size: 15px;
     line-height: 1.56em;
     font-weight: 400;
     font-family: 'Lexend', sans-serif;
     text-transform: uppercase;
     color: #1C8EC6;
     letter-spacing: 0.2em;
 }

 p {
     margin:0;
     padding: 0 0 22px;
     font-size: 16px;
     line-height: 1.87em;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif;
 }

 p:last-child {
     padding-bottom: 0;
 }

 blockquote {
     margin: 10px 0 30px;
     padding: 30px 36px;
     font-size: 16px;
     line-height: 1.5em;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif;
     color: #030812;
     position: relative;
     background: #FFFFFF;
     border-radius: 6px;
     box-shadow: 0 0px 15px rgba(37, 45, 60, .10);
 }

 blockquote span {
     font-weight: 700;
 }

 blockquote::before {
     content: "";
     position: absolute;
     left: -2px;
     top: 0;
     width: 8px;
     height: 100%;
     background: rgb(6,164,158);
     background: -webkit-linear-gradient(top,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
     background: linear-gradient(to bottom,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
     border-radius: 12px 0 0 12px;
 }

 @media (min-width: 768px) {
     h1,
     .h1 {
         font-size: 42px;
     }

     h2,
     .h2 {
         font-size: 36px;
     }

     h3,
     .h3 {
         font-size: 30px;
     }

     h4,
     .h4 {
         font-size: 26px;
     }

     h5,
     .h5,
     .subheading {
         font-size: 16px;
     }

     blockquote {
         padding: 50px 80px;
         font-size: 18px;
     }
 }

 @media (min-width: 1200px) {
     h1,
     .h1 {
         font-size: 58px;
     }

     h2,
     .h2 {
         font-size: 48px;
         padding-bottom: 18px;
     }

     h3,
     .h3 {
         font-size: 36px;
         padding-top: 25px;
     }

     h4,
     .h4 {
         font-size: 28px;
         padding-top: 25px;
     }

     h5,
     .h5,
     .subheading {
         font-size: 18px;
     }

     blockquote {
         padding: 50px 80px;
         font-size: 20px;
     }
 }


 .page-content ul,
 .page-content ol {
    width: auto;
    overflow: hidden;
 }

 ul,
 ol {
     padding: 0 0 20px 15px;
     margin: 0;
     list-style: none;
 }

 ul li {
 	position: relative;
     padding: 0 0 0 26px;
     margin: 0 0 10px 0;
     font-size: 16px;
     line-height: 1.87em;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif;
 }

 ul li:before {
     content: "";
     position: absolute;
     left: 0;
     top: 10px;
     width: 10px;
     height: 10px;
     background: #0670A4;
     border-radius: 50%;
     box-shadow: 0 1px 10px rgba(19, 107, 150, .30);
 }

 a {
     font-weight: 700;
     text-decoration: none;
     color: #030812;
 }

     @media (min-width: 768px) {
         ul,
         ol {
             padding: 0 0 20px 20px;
         }
     }

     @media (min-width: 1200px) {
         a:hover {
             color:#06A49E;
         }
     }

     /**
      * Buttons
      */
      .btn {
         font-size: 16px;
         display: inline-block;
         padding: 16px 56px 16px 35px;
         line-height: 1.3em;
         border-radius: 28px;
         text-decoration: none;
         font-family: 'Jost', sans-serif;
         border: none;
         font-weight: 500;
         position: relative;
         letter-spacing: 0.2em;
         transition: all .3s ease-in-out;
         vertical-align: middle;
         color: #ffffff;
         text-transform: uppercase;
         text-align: center;
         background: rgb(6,164,158);
         background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
         background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
     }

         .btn-primary {
             background: rgb(6,164,158);
             background: -webkit-linear-gradient(-45deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
             background: linear-gradient(135deg,  rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
         }

         .btn::before {
             content: "\e903";
             font-family: 'icomoon';
             position: absolute;
             right: 20px;
             top: 15px;
             font-size: 18px;
         }

         .btn-secondary {
             background: rgb(3,8,18);
             background: -webkit-linear-gradient(-45deg,  rgba(3,8,18,1) 0%,rgba(3,8,18,1) 100%);
             background: linear-gradient(135deg,  rgba(3,8,18,1) 0%,rgba(3,8,18,1) 100%);
         }

         .btn-secondary::before {
             color: #0670A4;
         }

         .btn-secondary-white {
             background: rgb(255,255,255);
             background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
             background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
             color: #030812;
         }

         .btn-secondary-white::before {
             color: #0670A4;
         }

         .btn-tertiary {
             background: transparent;
             color: #030812;
             padding: 0 30px 5px 0;
             border-radius: 0;
             border-bottom: 3px solid;
             border-image-slice: 3;
             border-image-source: linear-gradient(to left, transparent, transparent);
         }

         .btn-tertiary::before {
             right: 0;
             top: 0;
             color: #0670A4;
         }

       .btn + .btn {
           margin-left: 0;
           margin-top: 15px;
       }


     @media (min-width: 768px) {
         .btn + .btn {
             margin-left: 15px;
         }
     }



     @media (min-width: 1200px) {
         .btn + .btn {
     		margin-top: 0;
     		margin-left: 25px;
     	}

         .btn-primary:hover {
             background: rgb(6,112,164);
             background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%);
             background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
             background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
             color: #ffffff;
         }

         .btn-secondary:hover {
             background: rgb(3,8,18);
             background: -webkit-linear-gradient(-45deg,  rgba(3,8,18,1) 0%,rgba(48,60,90,1) 100%);
             background: linear-gradient(135deg,  rgba(3,8,18,1) 0%,rgba(48,60,90,1) 100%);
             color: #ffffff;
         }

         .btn-tertiary:hover {
             background: transparent;
             color: #030812;
             border-bottom: 3px solid;
             border-image-slice: 3;
             border-image-source: linear-gradient(to left, #06A49E, #0670A4);
         }

         .btn-secondary-white:hover {
             background: rgb(255,255,255);
             background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(141,184,204,1) 100%);
             background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(141,184,204,1) 100%);
         }

         .btn-secondary-white:hover {
             color: #030812;
         }

     }

     /**
      * Icons
      */

      @font-face {
         font-family: 'icomoon';
         src:  url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.eot');
         src:  url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.eot') format('embedded-opentype'),
           url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.ttf') format('truetype'),
           url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.woff') format('woff'),
           url('https://etagtechnologies.webpagefxstage.com/wp-content/themes/etagtechnologies/assets/icons/icomoon.svg') format('svg');
         font-weight: normal;
         font-style: normal;
         font-display: block;
       }

       [class^="icon-"], [class*=" icon-"] {
         font-family: 'icomoon' !important;
         speak: never;
         font-style: normal;
         font-weight: normal;
         font-variant: normal;
         text-transform: none;
         line-height: 1;

         /* Better Font Rendering =========== */
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
       }

       .icon-Arrow-Left:before {
         content: "\e900";
       }
       .icon-Arrow-Right:before {
         content: "\e901";
       }
       .icon-Autonomy:before {
         content: "\e902";
       }
       .icon-Button-Arrow:before {
         content: "\e903";
       }
       .icon-Cancel:before {
         content: "\e904";
       }
       .icon-Cross:before {
         content: "\e905";
       }
       .icon-Discovery:before {
         content: "\e906";
       }
       .icon-Facebook:before {
         content: "\e907";
       }
       .icon-Instagram:before {
         content: "\e908";
       }
       .icon-Linkedin:before {
         content: "\e909";
       }
       .icon-Location:before {
         content: "\e90a";
       }
       .icon-Mail:before {
         content: "\e90b";
       }
       .icon-Menu:before {
         content: "\e90c";
       }
       .icon-Minus:before {
         content: "\e90d";
       }
       .icon-Modularity:before {
         content: "\e90e";
       }
       .icon-Orchestration:before {
         content: "\e90f";
       }
       .icon-Phone:before {
         content: "\e910";
       }
       .icon-Plus:before {
         content: "\e911";
       }
       .icon-Search:before {
         content: "\e912";
       }
       .icon-Search-1:before {
         content: "\e913";
       }
       .icon-Sign-In:before {
         content: "\e914";
       }
       .icon-Twitter:before {
         content: "\e915";
       }
