.card-flex {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

/* fixing safari flexbox wrapping issue with bootstrap psuedos */
.card-flex:before,
.card-flex:after {
    display: none;
}

.cards h2 {
    padding-bottom: 45px;
}

.card-item {
    margin-bottom: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
    transition: transform .2s linear;
    background-color: #fff;
    box-shadow: 0 3px 25px rgba(35,47,60,0.1);
    border-radius: 6px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 6px;
    background: rgb(6,164,158);
    background: -moz-linear-gradient(-45deg, rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg, rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 );
}


.card__bottom {
    padding: 16px 0 10px 0;
    text-align: center;
    background: rgb(6,164,158);
    background: -moz-linear-gradient(-45deg, rgba(6,164,158,1) 0%, rgba(6,112,164,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    background: linear-gradient(135deg, rgba(6,164,158,1) 0%,rgba(6,112,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a49e', endColorstr='#0670a4',GradientType=1 );
}

.card__bottom .btn {
    color: #fff;
    font-weight: 400;
    border: none;
}

.card__bottom .btn::before {
    color: #fff;
}

.card__bottom .btn:hover {
    border: none;
}

.card__img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 124px;
}

.card__img,
.card__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.card__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon > span {
    font-size: 75px;
    color: #0670A4;
}

.card__details {
    padding: 20px 50px 25px 50px;
}

.card__description,
.card__title {
    text-decoration: none;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
}

.card__title {
    margin-top: 0;
    padding: 0;
    margin-bottom: 16px;
    color: #030812;
    font-size: 16px;
}

.card__description {
    font-weight: 500;
    font-size: 14px;
    color: #030812;
    line-height: 1.85em;
}


@media (min-width: 1200px) {
    .card__bottom {
       opacity: 0;
       transition: all .5s;
    }

    .card:hover .card__bottom {
        opacity: 1;
        transition: all .5s;
     }
}
