/*------------------------------------*\
    
    Header CSS
 
    eg: Header, Navigation, Ubermenu, Masthead 
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

/**
 * Page-head
 */


.page-header {
    top: 0;
    padding: 20px 0;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #030812;
}

.nav-fixed {
    background-color: #030812;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    z-index: 99999;
    width: 100%;
    color: #fff;
    padding: 0 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.fixed-btn .btn {
    border-radius: 0;
    padding: 16px 56px 16px 22px;
}

.toggle-menu {
    font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 1em;
    margin-right: 22px;
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
}

.toggle-menu i {
    font-size: 27px;
    display: block;
    line-height: 0.6em;
    margin-top: 11px;
}

.logo {
    position: relative;
    float: left;
    max-width: 115px;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.sign-in a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    border: none;
    border-bottom: 1px solid #0670A4;
    padding-bottom: 5px;
    letter-spacing: 0.05em;
}

.sign-in a i {
    font-size: 17px;
    background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%); 
    background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
    padding-bottom: 2px;
}

.search-icon {
    color: rgba(255,255,255,0.3);
    font-size: 22px;
    margin-left: 22px;
    cursor: pointer;
}

.search-div {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #0B142B;
    display: none;
    z-index: 9;
}

.js-search-active.search-div {
    display: block;
}

.js-search-toggle.js-search-active i::before {
    content: "\e904";
    color: #fff;
}

.search-content {
    background-color: #0B142B;
    border: none;
    position: relative;
    height: 52px;
    border-radius: 30px;
    margin: 10px auto;
    max-width: 670px;
}

.search-content input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 30px;
    height: 100%;
    padding: 0 60px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1em;
    color: #F4F9FC;
    font-weight: 500;
    background: #182546;
}

.search-content button[type="submit"] {
    border: none;
    border-radius: 50%;
    padding: 0 0;
    color:#FFFFFF;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 18px;
    line-height: 2.4em;
    width: 44px;
    height: 44px;
    margin: 0;
    background: -moz-linear-gradient(-45deg,  rgba(6,112,164,1) 0%, rgba(6,164,158,1) 100%); 
    background: -webkit-linear-gradient(-45deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
    background: linear-gradient(135deg,  rgba(6,112,164,1) 0%,rgba(6,164,158,1) 100%);
}


@media (min-width: 768px) {
    .toggle-menu i {
        font-size: 29px;
        margin-top: 0;
    }

    .toggle-menu {
        font-size: 10px;
        margin-right: 0;
    }

    .header-btn {
        margin: 0 32px;
    }

   .header-btn .btn {
        padding: 13px 56px 13px 27px;
    }

    .header-right {
        margin-top: 0;
    }

    .page-header {
        padding: 16px 0;
    }

}

@media (min-width: 1200px) {
    .page-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .search-icon {
        margin-left: 0px;
    }

    .search-icon:hover {
        color: rgba(255,255,255,1);
    }

    .sign-in a:hover {
        color: #06A49E;
    }
}

@media (min-width: 1366px) {
    .logo {
        max-width: 134px;
        margin-top: 3px;
    }

    .page-header {
        padding: 23px 0 19px;
    }

    .header-btn {
        margin: 0 22px 0 45px;
    }

    .header-btn .btn {
        padding: 16px 59px 16px 31px;
    }

    .sign-in {
        padding-bottom: 5px;
    }
}

/**
 * Navigation
 */


/* General Styling */
.nav-primary {
    padding: 0 0;
    display: none;
    z-index:9;
    font-family: 'Lexend', sans-serif;
}

.nav-primary ul {
    margin: 0 0 0 0;
    padding: 0 0 0;
    list-style: none;
}

.nav-primary ul li {
    padding: 0;
    margin: 0;
    position: relative;
}

.nav-primary ul li::before {
    display: none;
}

.nav-primary ul li a {
    color: rgba(255,255,255,0.49);
    display: block;
    padding: 0 0 0 0;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    border: none;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: relative;
}

.nav-primary ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0670A4;
    opacity: 0;
}

@media (min-width: 1200px) {
    .nav-primary {
        display: block !important;
        position: relative;
        float: left;
        padding-left: 25px;
        padding-top: 8px;
    }

    .nav-primary ul li {
        display: inline-block;
        padding: 0 10px;
        margin: 0 0;
        vertical-align: middle;
    }

    .nav-primary ul li a {
        padding: 0 0 0 15px;
    }

    .nav-primary ul li a:hover,
    .nav-primary ul li.current-menu-item a {
        color: rgba(255,255,255,1);
    }

    .nav-primary ul li a:hover::before,
    .nav-primary ul li.current-menu-item a::before {
        opacity: 1;
    }
}

@media (min-width: 1366px) {
    .nav-primary {
        padding-left: 54px;
        padding-top: 13px;
    }

    .nav-primary ul li {
        padding: 0 16px;
    }
}

/**
 * Ubermenu Styling (Starter CSS - Generally no editing needed)
 */
@media only screen and (max-width: 1024px) {
  /* forces mobile menu to push other menu items down when open instead of the sub-menu overlapping other menu items */
  .ubermenu .ubermenu-item .ubermenu-submenu-drop {
      position: relative !important;
  }

  .ubermenu-responsive.ubermenu {
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 900;
      background: #f0f0f0;
  }

  .ubermenu .ubermenu-item {
      position: relative !important;
  }

  /* styles the sub-menu indicator on mobile and tablet */
  .ubermenu-sub-indicator {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      z-index: 900;
  }

  .ubermenu-responsive-toggle {
      float: right;
  }
}

.ubermenu-responsive-toggle i {
    display: block; 
    font-size: 30px;
    margin: 0 !important;
}

.ubermenu-sub-indicator-close {
    display: none !important;
}

@media only screen and (min-width: 1024px) {
  .ubermenu > ul > li > a {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
      display: block;
  }
}

.sticky-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    border-top: 1px solid #ccc;
}

.ubermenu-responsive.ubermenu {
    bottom: 80px;
    left: 0;
    max-height: 500px !important;
    overflow-x: scroll !important;
    z-index: 2000;
}

.desktop-menu .ubermenu-responsive-toggle {
    display: none;
    z-index: 2000;
    position: relative;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 174px; /* controls position of responsive menu on tablet size */
      bottom: auto;
      max-height: auto !important;
      overflow-x: inherit !important;
  }

  .sticky-bar {
      display: none;
  }

  .desktop-menu {
      display: inline-block;
  }

  .desktop-menu .ubermenu-responsive-toggle {
      display: block;
  }
}

@media only screen and (min-width: 1025px) {
    .desktop-menu .ubermenu-responsive-toggle {
        display: none;
    }

    .ubermenu-responsive.ubermenu {
        top: auto; 
    }
}

/* controls sticky bar menu icon and overlay on mobile */
.sticky-bar .menu-is-active .fa-bars:before {
    content: 'X'; /* TODO: change this to be an icon from the icon font on the site */
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .25 );
    z-index: -1000;
}

body.menu-is-active:after {
    z-index: 1000;
    display: block;
}

@media( max-width: 1024px ) {
    .sticky-bar {
        z-index: 2000 !important;
    }
}

/* Modern IPhone Fixes */
@media screen and (width: 375px) and (height: 813px) {
	
	.sticky-bar {
		padding-bottom: 34px; 
		padding-left: 16px;
		padding-right: 16px;
	}
}


.masthead {
    position: relative;
}

.masthead-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.masthead-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;';
    object-position: right;
}

.masthead--inner img {
    object-position: left;
}

.masthead__innercontent {
    position: relative;
    padding: 50px 0;
}

.masthead__innercontent h1 {
    color: #fff;
}

@media (min-width: 768px) {
    .masthead__innercontent {
        padding: 100px 0 80px 0;
    }
}

@media (min-width: 1200px) {
    .masthead {
        margin-top: 79px;
    }
}

/**
 * Breadcrumbs
 */


 .breadcrumbs {
    margin: 0 0 0;
    padding: 24px 0 16px 0;
    position: relative;
    z-index: 1;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li::before {
    display: none;
}

.breadcrumbs ul li {
    margin: 0;
    padding: 0 18px 0 14px;
    color: #fff;
    font-size: 16px;
    line-height: 1.1em;
    text-transform: uppercase;
    display: inline-block;
    border-right: 1px solid #88B6CC;
    letter-spacing: 0.2em;
}

.breadcrumbs ul li:last-child {
    border-right: none;
}

.breadcrumbs ul li::before {
    display: none;
}

.breadcrumbs ul li a {
   font-weight: 400;
   background: none;
   color: #88B6CC;
   border: none;
}

.breadcrumbs ul li a:hover {
   color: #fff;
}