/*------------------------------------*\
    
    Half & Half Image + Text Block Customizations - Global Styling

    The styles you add to this file will be applied to the 'Half & Half Image + Text' block. 
    If there is any reasons why you would need to style this separately,
    please create a block-specific stylesheet for it (don't forget to register that block-specific stylesheet in acf-start-blocks.php)

\*------------------------------------*/

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.half-and-half-image, 
.half-and-half-text {
    position: relative;
    flex: 0 0 100%;
}

.half-and-half-image img {
    height: 100%;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
}

.half-and-half-text {
    padding: 70px 22px;
    color: #ffffff;
}

.half-and-half-text.right {
    margin-right: auto;
}

.half-and-half-text.left {
    margin-left: auto;
}

.half-and-half.white-bg {
    background-color: #ffffff;
}

.half-and-half.gray-bg {
    background-color: #F4F4F4;
}

@media (min-width: 768px) {
    .half-and-half-image {
        height: 470px;
    }

    .half-and-half-image img {
        object-position: top;
    }

    .half-and-half-text {
        padding: 90px 85px;
    }
}
    
@media (min-width: 1200px) {
    
    .half-and-half-image, 
    .half-and-half-text {
        position: relative;
        flex: 0 0 50%;
        height: auto;
    }

    .half-and-half-text {
        padding: 185px 22px 115px;
    }
    
    .half-and-half-image img {
        position: absolute;
    }

    .flex-opposite {
        flex-direction: row-reverse;
    }

    .half-and-half-text__wrapper {
       max-width: 660px;
       padding-right: 80px;
    }

    .half-and-half-text.left .half-and-half-text__wrapper {
        float: right;
    }
}

@media (min-width: 1366px) {
    .half-and-half-text__wrapper {
       padding-right: 80px;
    }
}
